<h3>{{i18n 'topic_permalink.title'}}</h3>
<section class='field topic-permalink'>
  <div class="topic-permalink">
  <label>{{i18n 'topic_permalink.prefix'}}</label>
    {{input type="text" value=category.custom_fields.category_permalink}}                                                                                               
  </div>
</section>
